body{
    background: #fdf0d5;
    color : #669BBC;
    padding : 20px;
    font-family : 'Times New Roman', Times, serif;
    font-size : 20px;
    text-align : center;
    
}
nav ul{
    list-style-type : none;
    padding : 0;
}
nav ul li{
    display : inline;
    margin-right : 15px;
}
h1{
    color : #C1121F;
    font-size : 36px;
    margin-bottom : 10px;
    display : flex;
    justify-content : center;
}
h2{
    color : #1D4E89;
    font-size : 28px;
    margin-bottom : 20px;
    display : flex;
    justify-content : center;
}