body{
    background-color : #03045E;
    color : #03045E;
    padding : 20px;
    font-family : 'Times New Roman', Times, serif;
    font-size : 20px;
    text-align : center;
    background-image : url(Transparent.png);
    background-size : cover;
    background-attachment : fixed;
    background-repeat : no-repeat;
    background-position : center;
}
nav{
    margin-bottom : 30px;
    margin : 20px auto;
    width : 400px;;
    border-radius : 15px;
    background : #CAF0F8;
    opacity : 0.75;
}
nav ul{
    list-style-type : none;
    padding : 0;
}
nav ul li{
    display : inline;
    margin-right : 15px;
}
h1{
    color : #00B4D8;
    font-size : 36px;
    margin-bottom : 10px;
    display : flex;
    justify-content : center;
    margin-top : 30px;
    margin-bottom : 30px;
    margin : 20px auto;
    width : fit-content;;
    border-radius : 15px;
    background : #CAF0F8;
    opacity : 0.75;
    padding : 10px;
}
h2{
    color : #0077B6;
    font-size : 28px;
    margin-bottom : 20px;
    display : flex;
    justify-content : center;
     margin-bottom : 30px;
    margin : 20px auto;
    width : fit-content;
    border-radius : 15px;
    background : #CAF0F8;
    opacity : 0.75;
    padding : 10px;
}
p{
   margin-bottom : 30px;
    margin : 20px auto;
    width : fit-content;
    border-radius : 15px;
    background : #CAF0F8;
    opacity : 0.75;
    padding : 10px;
}
form{
    margin-bottom : 30px;
    margin : 20px auto;
    width : fit-content;
    border-radius : 15px;
    background : #CAF0F8;
    opacity : 0.75;
    padding : 10px;
}
@media screen and (max-width: 480px) {
    body {
        font-size: 16px;
        padding: 10px;
    }
    nav {
        width: 100%;
    }
    h1 {
        font-size: 28px;
    }
    h2 {
        font-size: 22px;
    }
    p {
        font-size: 16px;
    }
}